<div class="main">
    <div class="common"></div>

    <div class="container-div">

        <div class="card">
            <div class="title">Make / Receive Payments</div>
            <div class="form-controls">

                <form novalidate [formGroup]="myForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <div class="label">Amount</div>
                        <input type="text" formControlName="amount" required class="form-control">
                        <div class="form-control-feedback" *ngIf="amount.errors && (amount.dirty || amount.touched)">
                            <p *ngIf="amount.errors.required" class="error-msg">Amount is required</p>
                            <p *ngIf="amount.errors.pattern" class="error-msg">Please enter a numeric value</p>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="label">Date</div>
                        <input type="date" formControlName="date" class="form-control">
                        <div class="form-control-feedback" *ngIf="date.errors && (date.dirty || date.touched)">
                            <p *ngIf="date.errors.required" class="error-msg">Date is required</p>
                        </div>
                    </div>



                    <!-- <div class="label">Date</div>
                    <div class="control">
                        <input type="text" formControlName="date" class="form-control">
                    </div> -->


                    <div class="form-group">
                        <div class="label">Payment Type</div>
                        <select class="form-control" formControlName="paymentType">
                        <!-- <option value="">Please select a payment type</option> -->
                        <option *ngFor="let tran of transactionType"
                                [value]="tran.value">
                                {{tran.label}}
                        </option>
                      </select>
                        <div class="form-control-feedback" *ngIf="paymentType.errors && (paymentType.dirty || paymentType.touched)">
                            <p *ngIf="amount.errors.required" class="error-msg">Payment type is required</p>
                        </div>
                    </div>

                    <!-- <div class="label">Payment Type</div>
                    <div class="control">
                        <select class="form-control" formControlName="paymentType">
                    <option value="">Please select a payment type</option>
                    <option *ngFor="let tran of transactionType"
                            [value]="tran.value">
                            {{tran.label}}
                    </option>
                  </select>
                    </div> -->

                    <div class="form-group">
                        <div class="label">Category</div>
                        <select [disabled]="paymentType.value == 'debit'" class="form-control" formControlName="category">
                        <!-- <option value="">Please select a category</option> -->
                        <option *ngFor="let cat of categories"
                                [value]="cat">
                                {{cat}}
                        </option>
                      </select>
                        <div class="form-control-feedback" *ngIf="category.errors && (category.dirty || category.touched)">
                            <p *ngIf="amount.errors.required" class="error-msg">Category is required</p>
                        </div>
                    </div>

                    <!-- <div class="label">Category</div>
                    <div class="control">
                        <select [disabled]="paymentType.value == 'debit'" class="form-control" formControlName="category">
                    <option value="">Please select a category</option>
                    <option *ngFor="let cat of categories"
                            [value]="cat">
                            {{cat}}
                    </option>
                  </select>
                    </div> -->


                    <div class="form-group">
                        <div class="label">Description</div>
                        <input type="text" formControlName="description" class="form-control">
                        <div class="form-control-feedback" *ngIf="description.errors && (description.dirty || description.touched)">
                            <p *ngIf="description.errors.required" class="error-msg">Description is required</p>
                        </div>
                    </div>


                    <!-- <div class="label">Description</div>
                    <div class="control">
                        <input type="text" formControlName="description" class="form-control">
                    </div> -->



                    <div class="submit-button-div">
                        <button [disabled]="myForm.status === 'INVALID'">Submit</button>
                    </div>
                </form>





            </div>
        </div>

        <div class="transaction">

            <div class="card search-div">
                <div class="title">View Transactions</div>
                <div class="flexbox-container responsive">

                    <div class="form-group">
                        <label>Frequency</label>
                        <select class="form-control" (change)="frequencyChange()" [formControl]="searchField">
                          <option *ngFor="let f of frequency"
                                  [value]="f">
                                  {{f}}
                          </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Month</label>
                        <select (change)="monthChange()" class="form-control" [formControl]="month">
                          <option *ngFor="let m of months"
                                  [value]="m.value">
                                  {{m.label}}
                          </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Category</label>
                        <select (change)="categoryChange()" class="form-control" [formControl]="categoryField">
                          <option *ngFor="let cat of categories"
                            [value]="cat">
                            {{cat}}
                        </option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="nested">

                <div class="card">
                    <div class="title">Expenditure</div>
                    <div class="table-container">

                        <table *ngIf="filteredTransactions.length">
                            <tr>
                                <th>Transaction Id</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Amount</th>
                                <th>D/C</th>
                            </tr>
                            <tr *ngFor="let tran of filteredTransactions">
                                <td>{{tran.trxn}}</td>
                                <td>{{tran.description}}</td>
                                <td>{{tran.category}}</td>
                                <td>{{tran.amount}}</td>
                                <td>{{tran.paymentType}}</td>
                            </tr>

                        </table>

                    </div>
                </div>

                <div class="card">
                    <div class="title">Spend Analysis</div>
                    <div class="card-content"></div>
                </div>

            </div>

        </div>


    </div>

    <div class="common"></div>
</div>